$font-main: 'Open Sans', sans-serif;
$border-line-color: #E0E0E0;
$border-radius: 5px;
$font-dark: #3c3c3c;

/* ----- Sidebar ----- */
$sidebar-bg-color: #F9F9F9;
$sidebar-text-color: black;
$sidebar-hover-color: #e7e7e7;
$sidebar-active-color: #cccccc;
$sidebar-width: 250px;

/* ----- Header ----- */
$header-bg-color: #F9F9F9;